.MuiButton-root {
  border-radius: 100px !important;
  text-transform: capitalize !important;
}

.button-add {
  position: absolute !important;
  z-index: 2;
  bottom: 1rem;
  right: 2rem;
  min-width: auto !important;
  display: flex !important;
  padding: 1rem !important;
  background-color: #689f38 !important;
  .MuiSvgIcon-root {
    color: white !important;
  }
}
